In [2]:
#import libraries needed for the program
import pandas as pd
import datetime
import numpy as np

In [14]:
# load a csv file to a DataFrame
# use dates as index
nber = pd.read_csv("NBERraw.csv", parse_dates = True, index_col='date')
#print(dfFromCsv)

In [21]:
nber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 879 entries, 1946-01-01 to 2019-03-01
Data columns (total 6 columns):
ffunds    777 non-null float64
oil       879 non-null float64
unemp     855 non-null float64
infla     709 non-null float64
earn      662 non-null float64
baa       792 non-null float64
dtypes: float64(6)
memory usage: 48.1 KB

In [16]:
# get column names and put into a list
cols=nber.columns.values.tolist()

In [17]:
cols

['ffunds', 'oil', 'unemp', 'infla', 'earn', 'baa']

In [77]:
# get annual average of each column for each recession year

yr1 = nber.loc["1960-04-01":"1961-04-01"].mean()
yr2 = nber.loc["1969-12-01":"1970-12-01"].mean()
yr3 = nber.loc["1973-11-01":"1974-11-01"].mean()
yr4 = nber.loc["1980-01-01":"1980-01-01"].mean()
yr5 = nber.loc["1981-07-01":"1982-07-01"].mean()
yr6 = nber.loc["1990-07-01":"1991-07-01"].mean()
yr7 = nber.loc["2001-03-01":"2002-03-01"].mean()
yr8 = nber.loc["2007-12-01":"2008-12-01"].mean()


yrs = [yr1, yr2, yr3, yr4, yr5, yr6, yr7, yr8]


# put result into a list
yrs
listMean=[]

for i in yrs:
    a = i.tolist()
    listMean.append(a)

In [243]:
#a = str(listMean).replace('[','').replace(']','')
#mean = str(listMean).replace('[','').replace(']','').replace('HourlyEarnings','').replace('type: float64','').replace('\nd','')

In [43]:
# transform list into data frame
df1=pd.DataFrame(listMean)

In [44]:
df1

           0          1         2          3          4         5
0   2.637692   2.970000  6.038462   1.167946        NaN  1.189231
1   7.318462   3.350769  4.869231   6.237692   3.396923  1.698462
2  10.575385   9.379231  5.400000   7.431538   4.395385  1.807692
3  13.820000  32.500000  6.300000  11.990000   6.570000  1.620000
4  14.792308  34.346154  8.576923   9.695385   7.687692  2.484615
5   6.953846  24.929231  6.353846   5.253846  10.375385  1.945385
6   3.106154  24.363846  5.046154   2.637692  14.632308  2.943077
7   2.105385  98.964615  5.738462   2.308698  18.036923  3.685385

In [45]:
# change column names
df1.columns = cols

In [46]:
df1

      ffunds        oil     unemp      infla       earn       baa
0   2.637692   2.970000  6.038462   1.167946        NaN  1.189231
1   7.318462   3.350769  4.869231   6.237692   3.396923  1.698462
2  10.575385   9.379231  5.400000   7.431538   4.395385  1.807692
3  13.820000  32.500000  6.300000  11.990000   6.570000  1.620000
4  14.792308  34.346154  8.576923   9.695385   7.687692  2.484615
5   6.953846  24.929231  6.353846   5.253846  10.375385  1.945385
6   3.106154  24.363846  5.046154   2.637692  14.632308  2.943077
7   2.105385  98.964615  5.738462   2.308698  18.036923  3.685385

In [27]:
# safe to a csv file
df1.to_csv("out_rec_yr.csv")

In [47]:
yr1 = nber.loc["1959-04-01":"1960-04-01"].mean()
yr2 = nber.loc["1968-12-01":"1969-12-01"].mean()
yr3 = nber.loc["1972-11-01":"1973-11-01"].mean()
yr4 = nber.loc["1979-01-01":"1980-01-01"].mean()
yr5 = nber.loc["1980-07-01":"1981-07-01"].mean()
yr6 = nber.loc["1989-07-01":"1990-07-01"].mean()
yr7 = nber.loc["2000-03-01":"2001-03-01"].mean()
yr8 = nber.loc["2006-12-01":"2007-12-01"].mean()

yrs = [yr1, yr2, yr3, yr4, yr5, yr6, yr7, yr8]

#listMean=[]
#listMean.append(yr1)
#listMean.append(yr2)
#listMean.append(yr3)
yrs
listMean=[]

for i in yrs:
    a = i.tolist()
    listMean.append(a)

In [48]:
df2=pd.DataFrame(listMean)

In [49]:
df2

           0          1         2          3          4         5
0   3.666923   2.970000  5.269231   2.086950        NaN  0.722308
1   8.036154   3.277692  3.484615   5.746154   3.209231  1.146923
2   8.090000   3.790769  4.915385   3.306923   4.107692  1.409231
3  11.396154  23.180769  5.884615   9.893077   6.356923  1.276154
4  15.320000  37.269231  7.453846  11.104615   7.170769  2.168462
5   8.516923  19.711538  5.323077   4.607692  10.020000  1.746923
6   6.186923  30.267692  4.015385   2.543077  14.130000  2.543846
7   5.036154  71.567692  4.600000   2.355385  17.380769  1.838462

In [50]:
df2.columns = cols

In [33]:
df2.to_csv("out_rec_1yr_bfr.csv")

In [51]:
yr1 = nber.loc["1958-04-01":"1959-04-01"].mean()
yr2 = nber.loc["1967-12-01":"1968-12-01"].mean()
yr3 = nber.loc["1971-11-01":"1972-11-01"].mean()
yr4 = nber.loc["1978-01-01":"1979-01-01"].mean()
yr5 = nber.loc["1979-07-01":"1980-07-01"].mean()
yr6 = nber.loc["1988-07-01":"1989-07-01"].mean()
yr7 = nber.loc["1999-03-01":"2000-03-01"].mean()
yr8 = nber.loc["2005-12-01":"2006-12-01"].mean()

yrs = [yr1, yr2, yr3, yr4, yr5, yr6, yr7, yr8]

#listMean=[]
#listMean.append(yr1)
#listMean.append(yr2)
#listMean.append(yr3)
yrs
listMean=[]

for i in yrs:
    a = i.tolist()
    listMean.append(a)

In [52]:
df3=pd.DataFrame(listMean)

In [53]:
df3.columns = cols

In [54]:
df3

      ffunds        oil     unemp      infla       earn       baa
0   1.842308   3.033077  6.607692        NaN        NaN  1.173846
1   5.568462   3.070000  3.576923   4.566923   3.016154  1.285385
2   4.376154   3.560000  5.692308   3.090769   3.863846  2.060769
3   8.095385  14.850000  6.053846   7.389231   5.895385  1.074615
4  12.753846  33.442308  6.476923  11.553846   6.599231  1.807692
5   8.931538  17.347692  5.300000   4.553846   9.636923  1.656154
6   5.175385  22.535385  4.153846   2.080769  13.590769  2.107692
7   4.902308  65.590000  4.630769   2.475385  16.711538  1.700000

In [59]:
df3.to_csv("out_rec_2yr_bfr.csv")

In [60]:
bigdata = pd.concat([df1, df2, df3], ignore_index=True, axis=1)

In [62]:
cols2 = ['ffunds', 'oil', 'unemp', 'infla', 'earn', 'baa',
        'ffunds', 'oil', 'unemp', 'infla', 'earn', 'baa',
        'ffunds', 'oil', 'unemp', 'infla', 'earn', 'baa']

In [67]:
cols2 = ["1yr_bfr_" + cols for cols in cols]

In [68]:
cols2

['1yr_bfr_ffunds',
 '1yr_bfr_oil',
 '1yr_bfr_unemp',
 '1yr_bfr_infla',
 '1yr_bfr_earn',
 '1yr_bfr_baa']

In [69]:
cols3 = ["2yr_bfr_" + cols for cols in cols]

In [70]:
cols3

['2yr_bfr_ffunds',
 '2yr_bfr_oil',
 '2yr_bfr_unemp',
 '2yr_bfr_infla',
 '2yr_bfr_earn',
 '2yr_bfr_baa']

In [71]:
colsname = [cols+cols2+cols3]

In [72]:
colsname

[['ffunds',
  'oil',
  'unemp',
  'infla',
  'earn',
  'baa',
  '1yr_bfr_ffunds',
  '1yr_bfr_oil',
  '1yr_bfr_unemp',
  '1yr_bfr_infla',
  '1yr_bfr_earn',
  '1yr_bfr_baa',
  '2yr_bfr_ffunds',
  '2yr_bfr_oil',
  '2yr_bfr_unemp',
  '2yr_bfr_infla',
  '2yr_bfr_earn',
  '2yr_bfr_baa']]

In [73]:
bigdata.columns = colsname

In [74]:
bigdata

,ffunds,oil,unemp,infla,earn,baa,1yr_bfr_ffunds,1yr_bfr_oil,1yr_bfr_unemp,1yr_bfr_infla,1yr_bfr_earn,1yr_bfr_baa,2yr_bfr_ffunds,2yr_bfr_oil,2yr_bfr_unemp,2yr_bfr_infla,2yr_bfr_earn,2yr_bfr_baa
0,2.637692,2.970000,6.038462,1.167946,NaN,1.189231,3.666923,2.970000,5.269231,2.086950,NaN,0.722308,1.842308,3.033077,6.607692,NaN,NaN,1.173846
1,7.318462,3.350769,4.869231,6.237692,3.396923,1.698462,8.036154,3.277692,3.484615,5.746154,3.209231,1.146923,5.568462,3.070000,3.576923,4.566923,3.016154,1.285385
2,10.575385,9.379231,5.400000,7.431538,4.395385,1.807692,8.090000,3.790769,4.915385,3.306923,4.107692,1.409231,4.376154,3.560000,5.692308,3.090769,3.863846,2.060769
3,13.820000,32.500000,6.300000,11.990000,6.570000,1.620000,11.396154,23.180769,5.884615,9.893077,6.356923,1.276154,8.095385,14.850000,6.053846,7.389231,5.895385,1.074615
4,14.792308,34.346154,8.576923,9.695385,7.687692,2.484615,15.320000,37.269231,7.453846,11.104615,7.170769,2.168462,12.753846,33.442308,6.476923,11.553846,6.599231,1.807692
5,6.953846,24.929231,6.353846,5.253846,10.375385,1.945385,8.516923,19.711538,5.323077,4.607692,10.020000,1.746923,8.931538,17.347692,5.300000,4.553846,9.636923,1.656154
6,3.106154,24.363846,5.046154,2.637692,14.632308,2.943077,6.186923,30.267692,4.015385,2.543077,14.130000,2.543846,5.175385,22.535385,4.153846,2.080769,13.590769,2.107692
7,2.105385,98.964615,5.738462,2.308698,18.036923,3.685385,5.036154,71.567692,4.600000,2.355385,17.380769,1.838462,4.902308,65.590000,4.630769,2.475385,16.711538,1.700000

In [75]:
bigdata.to_csv("nber.csv")

In [78]:
pip install git+https://github.com/sat28/githubcommit.git
jupyter serverextension enable --py githubcommit
jupyter nbextension install --py githubcommit

SyntaxError: invalid syntax (<ipython-input-78-d004dd126760>, line 1)

In [79]:
pip install git+https://github.com/sat28/githubcommit.git

The following command must be run outside of the IPython shell:

    $ pip install git+https://github.com/sat28/githubcommit.git

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/